#btn{
    margin-top: 50px;
    margin-left: 560px;
    width: 70px;
}

#box{
    border: 2px solid black;
    margin-top: 30px;
    height: auto;
}

#enterText{
    margin-top: 50px;
    margin-left: 535px;
    width: 190px; 
}

#clearBtn{
    width : 80px;
}

#listLi{
    display: inline-block;
}

#crossBtn{
   color: red;
   float: right;
   margin-top: -18px;
   margin-right: 700px;
}